.btn {
    cursor: pointer;
    outline: none;
    appearance: none;
    display: flex;
    align-items: center;
    font-family: $roboto-medium;
    font-size: 1.8rem;
    background: none;
    color: $primary;
    border: none;
    margin: 2em 0;
    .icon{
        width: 15px;
        margin: 0 0 0 10px;
        transition: $transition;
    }
    &:hover, &:focus{
        .icon{
            transform: translateX(10px);
        }
    }
    &.align-center{
        margin: 2em auto;
    }
    &.btn-alt{
        position: relative;
        background: $secondary;
        color: $white;
        font-family: $roboto;
        padding: 20px 40px 20px 30px;
        overflow-x: hidden;
        > span {
            position: relative;
            z-index: 2;
        }
        &:before{
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: -55px;
            margin-left: 0;
            width: 35px;
            transform: skew(-30deg);
            background-color: $secondary;
            filter: brightness(1.4);
            transition: none;
        }
        &:hover{
            &:before{
                transition: $transition 0.2s;
                margin-left: calc(100% + 75px);
                // transform: translateX(100%) skew(-30deg);
            }
        }
    }
}