#poem{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.45;
    text-align: center;
    > span {
        color: $bg;
        > span {
            display: inline-block;
        }
    }

}