.progress-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 10px;
    width: 100vw;
}

.progressbar{
    position: relative;
    display: block;
    height: 100%;
    width: 0%;
    background-color: red;
    border-radius: 2px;
    transition: 1s ease-out;
}