// Variables //


// Colors
$white: #e8e8e8;
$black: #252525;
$text: rgb(38, 39, 41);
$grey: rgb(73, 73, 73);

$primary: #534E8F;
$bg : #4e4e4e;
$red : #ff9639;
$blue : #3080F3;
$green : #20ccb5;


// Transitions
$transition: 0.3s ease-in-out;


// Fonts
$lato: 'Lato', sans-serif;

// Mediaqueries
$retina: 'only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi)';

$desktop-large: '1260px';
$desktop: '1100px';
$desktop-small: '960px';
$tablet: '780px';
$phone: '580px';
$phone-small: '400px';


// Grid
$col: 100/12*1%;

$gutter: 15px;